[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
datadir = /var/lib/mysql/data

port=3306
server-id=2
bind-address=mysql2.mysqlgr_default
log-bin='mysql-bin-1.log' 
enforce-gtid-consistency='ON' 
log-slave-updates='ON' 
gtid-mode='ON' 
transaction-write-set-extraction='XXHASH64' 
binlog-checksum='NONE' 
master-info-repository='TABLE' 
relay-log-info-repository='TABLE'
relay-log=mysql2-relay-bin  
plugin-load='group_replication.so' 
relay-log-recovery='ON' 
group_replication_start_on_boot='OFF' 
group_replication_group_name='aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee' 
group_replication_local_address="mysql2.mysqlgr_default:33061" 
group_replication_group_seeds='mysql1:33061,mysql2:33061,mysql3:33061' 
loose-group-replication-single-primary-mode='ON' 
loose-group-replication-enforce-update-everywhere-checks='OFF'

user=mysql
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set=utf8mb4
